html,
body {
    margin: 0;
    padding: 0;
}

body {

    Background-color: white;
}

.bettyclose {
    width: 30%;
    float: right;
    padding: 10px;
}

.lots {
    width: 550px;
    float: right;

}

#wrap {
    width: auto;
    margin: 0 auto;
    overflow: auto;
}

body#betty {
    background-color: green;
}

.new {
    width: 30%;
    float: right;
    padding: 10px;
}


header img header {
    width: auto;
    float: center;
}

Nav {
    background-color: lightseagreen;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;


}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav li {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    display: inline;
}

Section {
    padding: 20px;
    overflow: auto;
}

#wrap {
    width: 70%;
    margin: 0 auto;
}

#betty #wrap {}

.far {
    width: 100%;
    float: center;

}


Footer {}

body#jewelry {
    background-color: green;

}

.ebead {
    width: 30%;
    float: right;
    padding: 10px;
}

.ecircle {
    width: 30%;
    float: right;
    padding: 10px;
}

Nav {
    background-color: greenyellow;
    text-align: center;
    padding: 10px 0;
    font-family: Verdana;
}

Nav a {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

Nav a:hover {
    color: mediumpurple;
    background-color: whitesmoke;

}

Nav li {
    display: inline;
}

Nav ul {
    padding: 0;
    margin: 0;
}


#wrap {
    width: 70%;
    margin: 0 auto;
}

#jewelry #wrap {}

#jewelry h1 {}

.title {
    width: 100%;
    float: center;

}

header img header {}

Nav {}

Section {}

Footer {}

body#tribe {
    background-color: dark yellow;

}

.top {
    width: 100%;
    float: center;
}

.dance {
    width: 30%;
    float: right;
    padding: 10px;
}

Nav {
    background-color: yellow;
    text-align: center;
    padding: 10px 0;
    font-family: Verdana;
}

Nav a {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

Nav a:hover {
    color: mediumpurple;
    background-color: whitesmoke;

}

Nav li {
    display: inline;
}

Nav ul {
    padding: 0;
    margin: 0;
}

#wrap {
    width: 70%;
    margin: 0 auto;
}

#tribe #wrap {}

#tribe h1 {}

header img header {}

Nav {}

Section {}

Footer {}

body#contact {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

#wrap {
    width: 70%;
    margin: 0 auto;
}

fieldset {
    background-color: #ddd;
    border-radius: 1em;
}

legend {
    font-size: 30px;
    font-family: Georgia, serif;
    color: navy;
    font-weight: bold;
    padding: 5px 10px;
}

textarea {
    width: 50%;
}


header,
nav,
section,
footer {
    padding: 30px;
    background-color: white;
    margin: 5px 0;
}

header {}

Nav {}

Section {}

Footer {}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form {
    width: 50%;
    margin: 0 auto;
}


.tree {
    width: 30%;
    float: right;
    padding: 10px;
}

Nav {
    background-color: mediumpurple;
    text-align: center;
    padding: 10px 0;
    font-family: Verdana;
}

Nav a {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

Nav a:hover {
    color: mediumpurple;
    background-color: whitesmoke;

}

Nav li {
    display: inline;
}

Nav ul {
    padding: 0;
    margin: 0;
}

#wrap {
    width: 70%;
    margin: 0 auto;
}

#Fall #wrap {}

#Fall h1 {}

.high {
    width: 100%;
    float: center;
}

header img header {}

Nav {}

Section {}

Footer {
    background-color: #ec3d0f;
    background-color: mediumpurple;
    text-align: center;
    font-weight: bold;
}
}
